{{#each jokes as |joke|}}
  {{log joke}} 
  <section data-id="{{joke.id}}">
     
    <h6>Question:</h6>
        {{joke.question}}
    <h6>Punchline:</h6>
        {{joke.punch_line}}
     <form class="form-inline my-2 my-lg-0" id="remove">
     <button class='btn btn-danger remove' data-id="{{joke.id}}">Remove Joke</button>
     </form>
     <hr>
     {{> partial}} 
    
  </section>

{{/each}}